{
  "plugins": [
    [
      "component",
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ], [
      "transform-es2015-modules-commonjs"
    ]
  ],
  "ignore": [
    "node_modules",
    "server/public"
  ],
  "presets": [
    ["es2015", { "modules": false }]
  ]
}
